---
Language: Cpp
BasedOnStyle: LLVM
Standard: c++20

# Indentation & Alignment
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
AccessModifierOffset: -4

# Braces & Wrapping
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: true

# Spacing & Pointers
PointerAlignment: Left
ReferenceAlignment: Left
SpacesBeforeTrailingComments: 2
SpaceAfterCStyleCast: false
SpaceBeforeParens: ControlStatements

# Includes
SortIncludes: Never
...
